.login {
  min-height: calc(100vh - 50px);
  background-image: url("../../../public/assets/freestocks-_3Q3tsJ01nc-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.login::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.384);
  z-index: 1;
}

.register {
  min-height: calc(100vh - 50px);
  background-image: url("../../../public/assets/freestocks-_3Q3tsJ01nc-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.register::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.384);
  z-index: 1;
}

/*  */
